$colorFilete:#3B2719;
@font-face{
	font-family:title;
	src:url('./../fonts/castle.ttf');
}
@font-face{
	font-family:subtitle;
	src:url('./../fonts/sovereign.otf');
}
body{
	background: url('./../images/fondomain.jpg') no-repeat fixed;
	background-size:100%;
	
	text-align:center;
	border-color: $colorFilete;

	.centro{
		color:red;
		@extends body;
		margin-top: 25px;
	}
	.lrrss{
		
	}
	.titulo{
		font-family: title;
		color:$colorFilete;
		font-size: 80px;
		 text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	}

	.subtitulo{
		font-family: subtitle;
		color:$colorFilete;
		font-size: 50px;
		 text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	}
	.caroimg{
		margin:0 auto;
		
	}


}